.gocache/
.edge-headless/
.vscode/

*.log
*.err
*.pid
*.tmp
*.exe
*.exe~

login/configs/config.yaml
login/data/
login/tmp*.log

static-server.log
static-server.err

frontend.stdout.log
frontend.stderr.log
frontend-supervisor.log
frontend-supervisor.pid
frontend-server.pid

backend-supervisor.log
backend-supervisor.pid
backend-server.pid

